/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #000000;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.main-bg {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='766' height='766' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2312166C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234C0C68'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu img {
    max-width: 80px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 0.8rem;
    font-size: 1.2rem;
    color: #000000;
    position: relative;
}

.menu h1 {
    font-size: 2.2rem;
    color: #000000;
}

.menu h1 a {
    color: inherit;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: rgb(17, 2, 223);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 55px;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
    position: relative;
    top: -8rem;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    padding-right: 0;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.intro-text-content p {
    font-size: 1.2rem;

}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.white-bg {
    background-color: #EEEEEE;
    color: #000000;
}

.projetos-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    max-width: 50rem;
    text-align: center;
    margin-bottom: 0rem;
    color: #000000;
    align-items: center;
    padding: 3rem;
    max-width: 10000rem;
    margin: 0;
}

.projetos-content h2 {
    font-size: 4rem;
    margin: 3rem;
}

.projetos-content p {
    text-align: left;
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
    color: black;
}

.projetos-content p a button {
    color: white;
    width: 100%;
    padding: 15px 0px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: black;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    background: #000000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #11088ae0;
    align-items: center;
}

.intro-img2 {
    max-width: 100%;
    height: auto;
}

.habilidades-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--gap);

}

.grid img {
    width: 100px;
    height: 80px;
}

.habilidades-content h2 {
    text-shadow: 0.05em 0.05em #2c295ae0;
    font-size: 5rem;
    padding: 0rem;
    text-align: center;
    height: 25vh;
}

.habilidades-content article {
    height: 35vh;
    font-size: 2rem;
    padding: 1.5rem;

}

.habilidades-content p {
    font-size: 1.1rem;
    font-family: 'Fuzzy Bubbles', cursive;

}

.contatos {
    text-align: center;
}

.intro-img3 {
    max-width: 100%;
    height: auto;
    padding: 10rem;
}

.contatos-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    max-width: 50rem;
    text-align: center;
    margin-bottom: 0rem;
    color: #000000;
    align-items: center;
    padding: 3rem;
    max-width: 10000rem;
    margin: 0;}

    .contatos-content h2 {
        font-size: 3rem;
        margin: 3rem;
    }
    
    .contatos-content p {
        text-align: left;
        font-size: 2.5rem;
        text-decoration: none;
        list-style: none;
        color: black;
    }
    
    .contatos-content p a button {
        color: white;
        width: 100%;
        height: 12%;
        padding: 15px 0px;
        margin: 5px;
        border: none;
        border-radius: 8px;
        outline: black;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        background: #000000;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #11088ae0;
        align-items: center;
    }